.notes {
    background-color: white;
    margin-right: 20px;
}

.btn__notes {
    margin-bottom: 30px;
}

.card {
    display: none;
}

.ul-notes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}